@charset "uft-8";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap");

/* common ○*/
html,body {
  width: 100%;
  height: 100%;  /* 背景高さ自動 */
  background: linear-gradient(#00bfff, #efd9fd);
  background-position: 100%;
  margin: 0;
  font-family: 'Kaisei Decol', serif;
}

/* header */

header {
  background: rgb(242, 203, 242);
  width: 100%;
  position: fixed;
  z-index: 4;
}

h1 {
  margin: 0;
  /* color: white; */
}

img {
  vertical-align: bottom;
}

/* background */

body:after {  /*擬似要素をつくる*/
  position: fixed;  /*固定配置*/
  top: 0; left: 0;  /*左上に固定*/
  width: 100%; height: 100%;  /*画面全体を覆う*/
  content: "";
  background: #f89174;  /*保険用*/
    background: -moz-linear-gradient(top, #00bfff 0%,#efd9fd 100%);/*古いFireFox向け*/
  background: -webkit-linear-gradient(top, #00bfff 0%,#efd9fd 100%);/*古いSafari・Chrome向け*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#efd9fd',GradientType=0 );/*IE9以下への対応*/
  background: linear-gradient(#00bfff, #efd9fd);  /*正規のプロパティ*/
}


.sakura {
  position: fixed; 
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 1;
}

.sakura li{
  position: relative;
  list-style: none;
  top: -50px;
  background: #ffdbed;
  border-radius: 0% 70%;  
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}

@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.sakura li:nth-child(1){
  left: 0%;
  width: 24px;
  height: 15px;
  animation: fall 10s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}

.sakura li:nth-child(2){
  left: 5%;
  width: 13px;
  height: 9px;
  animation: fall 15s linear infinite,
             sway1 2s ease-in-out infinite alternate;
  animation-delay: 8s;
}

.sakura li:nth-child(3){
  left: 15%;
  width: 16px;
  height: 10px;
  animation: fall 9s linear infinite,
             sway1 3.5s ease-in-out infinite alternate;
  animation-delay: 13s;
}

.sakura li:nth-child(4){
  left: 30%;
  width: 16px;
  height: 10px;
  animation: fall 8s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 7s;
}

.sakura li:nth-child(5){
  left: 40%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
             sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}

.sakura li:nth-child(6){
  left: 55%;
  width: 24px;
  height: 15px;
  animation: fall 11s linear infinite,
             sway2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}

.sakura li:nth-child(7){
  left: 65%;
  width: 16px;
  height: 10px;
  animation: fall 7s linear infinite,
             sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 7s;
}

.sakura li:nth-child(8){
  left: 50%;
  width: 13px;
  height: 9px;
  animation: fall 7s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}

.sakura li:nth-child(9){
  left: 80%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}


/* section */

.hero {
  margin: 300px 10%;
  position: absolute;
  z-index: 3;
  color: white;
}

/* hero */

.hero h1 {
  font-size: 32px;
  text-shadow: 1px 2px 3px #e3e3e3 ;
  text-align: center;
}


.hero p {
  padding: 0;
}


.horm {
margin:  200px 10%;
border: 0;
padding: 0;

}

.icon {
  position: relative;
  z-index: 2;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid honeydew;
  margin: 40px auto 160px;
}

.icon p {
  text-shadow: 1px 2px 3px #e3e3e3 ;
  text-align: center;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  font-size: 40px;/*サイズ*/
}

.icon img{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  text-align: center;
  margin-bottom: 24px;
}

.content h1{
  font-size: 50px;
}

.content p2 {
  font-size: 24px;
  
}

.content p3{
  font-size: 16px;
  color: #505050;
  opacity: 0.5;
}

/* footer */

footer {
  background: rgb(242, 203, 242);
  padding: 64px 10%;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
}



